.app {
  margin: 0 auto;
  padding: 20px;
  max-width: 960px;

  h1 {
    font-size: 1.8em;
  }
}

.columns {
  display: flex;
}

.sidebar {
  min-width: 200px;

  button {
    margin: 0 auto;
    display: block;
  }
}
